*{
    color: #fff;
    
}

body {
    position: relative;
    height: 100vh;
    background: linear-gradient(RGB(42,45,50), RGB(3,3,3));
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    
}

/* éviter les doublons */

.absolute {
    position: absolute;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.glow-bd-top {
    position: absolute;
    width: 60px;
    height: 70px;
    top: -30px;
    right: 0px;
   
    background: rgba(175, 48, 36, 0.37);

    animation: blurTop 16s linear infinite;
}

@keyframes blurTop {
    0% {
        filter: blur(40px);
    }
    50% {
        filter: blur(20px);
    }
    100%{
        filter: blur(40px);
    }
}

.cont-nav{
    
    width: 250px;
    margin: 0 auto;
}

.navbar {
    position: relative;
}

.glow-nav {
    position: absolute;
    width: 20px;
    height: 37px;
    top:0px;
    left: 47%;
    background-color: #FF6363;
   
    animation: blur 16s infinite;
}

@keyframes blur {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(14px);
    }
    100%{
        filter: blur(4px);
    }
}

/* Icon Navigation */

.bloc-icon-left {
    position: absolute;
    top: 25%;
    left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.bloc-icon-right {
    position: absolute;
    top: 25%;
    right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.bloc-about {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 17px;
    
    text-align: center;
    cursor: pointer;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%);
}

.bloc-about::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 18px;
    height: 18px;
    border-radius: 17px;
    transition:  transform 1s

} 

.bloc-about:hover::before {
    top: -1px;
    left: -0.6px;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%) padding-box,
                linear-gradient(0deg, rgb(185, 185, 185), rgb(178,48,38)) border-box;
    border: 0.5px solid transparent;
    
    animation: rotateInfa 1s linear infinite;
}

@keyframes rotateInfa {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bloc-about:hover::after {
    content:'a propos';
    position: absolute;
    width: 4px;
    height: 4px;
    top:22px;
    left: 39%;
    font-size: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    border-radius: 20px;
    background: radial-gradient( 20px,rgb(172,16,4),rgb(74,24,19));

    animation: scalePoint 0.2s 0.3s linear forwards ;
}



@keyframes scalePoint {
    from {
        width: 4px;
        height: 4px;
        border-radius: 10px;
        font-size: 0px;

    }
    to {
        width: 43px;
        height: 11px;
        left: -66%;
        border-radius: 2px;
        font-size: 10px;
    }
}

.i-about svg{
    position: absolute;
    stroke: #8F8F93;
    width: 16px;
    height: 18px;
    top: 0px;
    right: 1px;
}

.i-about svg:hover {
    stroke: #fff;
}




.bloc-project {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 17px;
    
    text-align: center;
    cursor: pointer;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%);
}

.bloc-project::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 18px;
    height: 18px;
    border-radius: 17px;
    transition:  transform 1s

} 

.bloc-project:hover::before {
    top: -1px;
    left: -0.6px;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%) padding-box,
                linear-gradient(0deg, rgb(185, 185, 185), rgb(178,48,38)) border-box;
    border: 0.5px solid transparent;
    
    animation: rotateInf 1s linear infinite;
}

@keyframes rotateInf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bloc-project:hover::after {
    content:'web';
    position: absolute;
    width: 4px;
    height: 4px;
    top:22px;
    left: 39%;
    font-size: 0px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    background: radial-gradient( 20px,rgb(172,16,4),rgb(74,24,19));

    animation: scalePointWeb 0.2s 0.3s linear forwards ;
}

@keyframes scalePointWeb {
    from {
        width: 4px;
        height: 4px;
        border-radius: 10px;
        font-size: 0px;

    }
    to {
        width: 26px;
        height: 11px;
        left: -20%;
        border-radius: 2px;
        font-size: 10px;
    }
}


.i-project svg{
    position: absolute;
    stroke: #8F8F93;
    width: 12px;
    height: 20px;
    top: 0;
    right: 3px;
}

.i-project svg:hover{
    stroke: #fff;
}

/* .bloc-3d {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 17px;
    
    text-align: center;
    cursor: pointer;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%);
} */

/* .bloc-3d::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 18px;
    height: 18px;
    border-radius: 17px;
    transition:  transform 1s

} 

.bloc-3d:hover::before {
    top: -1px;
    left: -0.6px;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%) padding-box,
                linear-gradient(0deg, rgb(185, 185, 185), rgb(178,48,38)) border-box;
    border: 0.5px solid transparent;
    
    animation: rotateInf 1s linear infinite;
}

@keyframes rotateInf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bloc-3d:hover::after {
    content:'3D';
    position: absolute;
    width: 4px;
    height: 4px;
    top:22px;
    left: 39%;
    font-size: 0px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    background: radial-gradient( 20px,rgb(172,16,4),rgb(74,24,19));

    animation: scalePoint3D 0.2s 0.3s linear forwards ;
}

@keyframes scalePoint3D {
    from {
        width: 4px;
        height: 4px;
        border-radius: 10px;
        font-size: 0px;

    }
    to {
        width: 20px;
        height: 10px;
        left: -10%;
        padding-top: 2px;
        border-radius: 2px;
        
        font-size: 10px;
    }
}

.i-3d svg {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 0px;
    right: 1px;
   stroke: #8f8F93;
}

.i-3d svg:hover {
   stroke: #ffffff;
} */

/* contact icon / animation */

.bloc-contact {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 17px;
    
    text-align: center;
    cursor: pointer;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%);
}

.bloc-contact::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 18px;
    height: 18px;
    border-radius: 17px;
    transition:  transform 1s

} 

.bloc-contact:hover::before {
    top: -1px;
    left: -0.6px;
    background: linear-gradient(358.68deg, rgb(13, 13, 15) -267.71%, rgba(37, 43, 55, 1) 296.12%) padding-box,
                linear-gradient(0deg, rgb(185, 185, 185), rgb(178,48,38)) border-box;
    border: 0.5px solid transparent;
    
    animation: rotateInf 1s linear infinite;
}

@keyframes rotateInf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bloc-contact:hover::after {
    content:'contact';
    position: absolute;
    width: 4px;
    height: 4px;
    top:22px;
    left: 39%;
    font-size: 0px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    background: radial-gradient( 20px,rgb(172,16,4),rgb(74,24,19));

    animation: scalePoint 0.2s 0.3s linear forwards ;
}



.i-contact svg {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 2px;
    right: 2px;
}

.i-contact svg{
    
    stroke:#8F8F93;
}

.bloc-contact a svg:hover {
    stroke: #FFF;
    
}
.glow-white-a {
    position: absolute;
    top: 6px;
    left: 18%;
    width: 4px;
    height: 9px;
    background: rgba(255, 255, 255, 0.678);
    filter: blur(5px);
}

.glow-white-p {
    position: absolute;
    top: 6px;
    left: 88.5%;
    width: 4px;
    height: 9px;
    background: rgba(255, 255, 255, 0.678);
    filter: blur(5px);
}

.glow-white-3D {
    position: absolute;
    top: 6px;
    left: 18%;
    width: 4px;
    height: 9px;
    background: rgba(255, 255, 255, 0.678);
    filter: blur(5px);
} */

 .glow-white-c { 
    position: absolute;
    top: 6px;
    left: 88.5%;
    width: 4px;
    height: 9px;
    background: rgba(255, 255, 255, 0.678);
    filter: blur(5px);
}

/* Section card-Top info personnel */


.container-card {
    position: relative;
    max-width: 261px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 20px 0px 40px;
}

.card {
    left: 13%;
    top: 2px;
    opacity: 1;
   
}

.picture-card {
    top: 25%;
    left: 8px;
}

.text-card-left h1 {
    top: 10px;
    left: 31px;
    font-weight: 500;
    font-size: 16px;
}

.text-card-left h2 {
    font-size: 7px;
    letter-spacing: -0.2px;
    top:31px;
    left: 43px;
}

.text-card-left p {
    max-width: 114px;
    text-align: left;
    letter-spacing: 0.1px;
    font-weight: 100;
    font-size: 6px;
    left: 31px;
    top: 50px;
}

.text-card-left span {
    font-size: 5px;
    left: 31px;
    max-width: 107px;
    bottom: 30px;
}

.line {
    width: 1px;
    height: 80px;
    top: 20%;
    left: 60%;
    border-radius: 50em;
    background: #FFF;
}

.text-card-right :nth-child(1){
    top: 15px;
    right: 12px;
    font-size: 8px;
}

.text-card-right :nth-child(2){
    top: 30px;
    right: 20px;
    font-size: 5px;
    line-height: 7px;
}

.text-card-right :nth-child(3){
    top: 50px;
    right: 24px;
    font-size: 8px;
}

.text-card-right :nth-child(4){
    top: 64px;
    right: 32px;
    font-size: 5px;
}

.text-card-right :nth-child(5){
    top: 80px;
    right: 46px;
    font-size: 8px;
}

.text-card-right :nth-child(6){
    top: 94px;
    right: 42px;
    font-size: 5px;
}

.wave {
position: absolute;
top:260px;
}


/* line */



/* small card */

.container-sm-card {
    
    margin: 60px auto;
    display: flex;
    max-width: 360px;
    justify-content: space-around;
}

.card-project {
    position: relative;
    width: 130px;
    height: 70px;
    background: linear-gradient(45deg,rgb(40,16,13), rgb(255,255,255),rgb(119,35,27));
    border-radius: 11px;
    
}

.card-project img {
    object-fit: cover;
    width: 45px;
    height: 68px;
    margin: 1px 0px 1px 1px;
    border-radius: 11px 0px 0px 11px;
}

/* .card-3D {
    position: relative;
    width: 131px;
    height: 70px;
    background: linear-gradient(45deg,rgb(40,16,13), rgb(255,255,255),rgb(119,35,27));
    border-radius: 11px;
}

.card-3D img {
    width: 80px;
    height: 68px;
    margin: 1px 0px 1px 1px;
    border-radius: 11px 0px 0px 11px;
} */

.trsp {
    position: absolute;
    width: 12px;
    height: 68px;
    background: #1b1e2562;
    top:1px;
    left: 36px;
    border-radius: 6px 0px 0px 6px;
    
}

.front-black {
    position: absolute;
    top: 1px;
    left: 29%;
}

.icon-p {
    position: absolute;
    top: 35%;
    left: 27px;
}

.bloc-text :nth-child(1) {
    top: 9px;
    font-size: 12px;
    left:40%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.bloc-text :nth-child(2) {
    font-size: 6px;
    color: #b4b4b4;
    text-align: center;
    width: 72px;
    top: 34px;
    left: 40%;
}

.nbr-project {
    display: flex;
    align-items: center;
    justify-content: start;
    bottom: 3px;
    left: 36%;
}

#icon-nbr {
    width: 20px;
}

#nbr {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: #c0c0c0fa;
    font-size: 5px;
    width: 50px;
}

.bloc-text-2 :nth-child(1) {
    top: -16px;
    font-size: 12px;
    width: 40px;
    left:39px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.bloc-text-2 :nth-child(2) {
    font-size: 6px;
    color: #b4b4b4;
    text-align: center;
    width: 72px;
    top: 10px;
    left: 100%;
}

.nbr-3D {
   width: 65px;
   bottom: -16px;
   display: flex;
    align-items: center;
    justify-content: start;
    left: 88%;
}

/* big-line */

.line-top {
    width: 100%;
    height: 2px;
    background: linear-gradient(-45deg, rgb(160, 44, 34), rgb(255,255,255));
}

.mid {
    height: 18px;
    background: rgb(26, 27, 30);
}

.mid h2 {
    padding-top: 2.5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}

.line-bot {
    width: 100%;
    height: 2px;
    background: linear-gradient(-45deg, rgb(160, 44, 34), rgb(255,255,255));
}

/* card compétence */

.container-card-cpt {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 310px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    gap: 10px;
}

.card-ref {
    width: 149px;
    height: 70px;
    border-radius: 7px;
    
    background: linear-gradient(120deg, rgb(10, 10, 11,100%), rgb(37, 42, 53, 70%));
} 

.cont-ref {
    display:flex;
    width: 141px;
    margin: auto;
    

    
}

.cont-ref :nth-child(1) {
    font-size: 13px;
    letter-spacing: 1px;
    
}

.card-ref :nth-child(2) {
    letter-spacing: 1px;
    font-size: 8px;
    margin: auto;
    width: 141px;
}

.cont-res {
    display: flex;
    width: 141px;
    margin: auto;
    align-items: center;
    
}

.card-res {
    width: 149px;
    height: 70px;
    border-radius: 7px;

    background: linear-gradient(120deg, rgb(10, 10, 11,100%), rgb(37, 42, 53, 70%));
}

.cont-res :nth-child(1) {
    font-size: 13px;
    letter-spacing: 1px;
}

.card-res :nth-child(2) {
    letter-spacing: 1px;
    font-size: 8px;
    margin: auto;
    width: 141px;
}